html {
    background-color: dimgray
}
.col1 {
    float: left;
    height: 80%;
    width: 33%;    
}
.col2 {
    float: left;
    height: 80%;
    width: 25%;
    /*background-color: blue;*/
    
}
.col3 {
    float: left;
    height: 80%;
    width: 33%;
}
form {
    float: right;
}
input {
    height: 20px;
    width: 150px;
    margin: 5px;
    margin-right: 0px;
    margin-left: 52%;
}
.button {
    height: 20px;
    width: 150px;
}
h1 {
    text-align: center;
    font-family: Courier New, Courier, monospace;
}